<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Seu Site com Intro Star Wars</title>
    <link rel="stylesheet" href="/styles/styles.css">
</head>

<body>

    <audio id="bg-music" src="/music/Star Wars Main Theme (Full).mp3" autoplay loop></audio>w

    <main>

        <div id="star-wars-intro">
            <div id="stars"></div>
            <div id="star-wars-content">
                <div id="star-wars-title">
                    <p>EPISÓDIO IV</p>
                    <p>O DESPERTAR DIGITAL</p>
                </div>
                <div id="star-wars-crawl">
                    <p>Em uma galáxia não tão distante, onde a presença online se tornou essencial para o sucesso, surge
                        uma nova esperança: um projeto criado pelo jovem Jedi Ariel Lorenz.</p>

                    <p>Enquanto impérios corporativos ainda dominam o mercado com sites ultrapassados, este Jedi do
                        desenvolvimento — armado com HTML, CSS e JavaScript — se levanta para restaurar o equilíbrio no
                        ecossistema digital.</p>

                    <p>Com sabedoria em design, domínio do código e a força da criatividade, Ariel Lorenz usa suas
                        habilidades para transformar a presença online de qualquer marca em uma verdadeira experiência
                        intergaláctica.</p>

                    <p>Não deixe seu negócio nas sombras do espaço digital. Com a orientação de um verdadeiro Jedi, você
                        não terá apenas um site — terá uma jornada épica capaz de cativar seus clientes como a Força.
                    </p>

                    <p>Que a presença online esteja com você Sempre.</p>

                </div>
            </div>
            <button id="skip-button">Explorar Galáxia Digital</button>
            <button id="playMusic" onclick="playMusic()">🎵</button>
        </div>
        <div id="main-content">
            <a href="galaxia.html"></a>
        </div>

    </main>

    <script>
        function playMusic() {
            const music = document.getElementById("bg-music");
            music.play();
        }
    </script>

    <script src="/script/index.js"></script>

</body>

</html>